.wrapper{
  margin: auto;
  border: 2px solid #f6f6f6;
  margin-top:20px ;
}

h2{
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-style: italic;
}
.defaultList{
  list-style: none !important;
}

.listBg{
  background-color: #dce2d5;
}